.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: black;
  font-family: 'Noto Sans SC', sans-serif;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
}

.logo{
  display: inline-block;
  background: none;
  width: 55px;
  height: 55px;
  padding: 2.5px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  float: left;
}

/* header */
 .header{
  width: 100%;
  position: sticky;
  background: none;
  top: 0;
  z-index: 1;
 }

.headerbar{
  background-color: #282828;
  width: 100%;
  border-bottom: 2px gainsboro solid;
}

.header-title{
  background-color: #282828;
  margin: 0px;
  padding: 10px;
  width: 200px;
  float:left;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.header-container{
  background-color: #282828;
  width: 100%;
  min-width: 300px;
  display:inline-block;
}

.header-menu{
  list-style-type: none;
  background-color: #282828;
  display: inline-block;
  margin: auto;
  float: right;
  min-width: 200px;
  width: 35%;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height:100%;
}

.header-menu-choice {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 33%;
  padding: 5px;
  font-size: 16px;
  background-color: #282828;
  border-left: gainsboro solid 2px;
}

.header-menu-choice:hover{
  font-style: underline;
  font-weight: bold;
}

/* main backgrounds for each component (same, for now) */
.main-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1080px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.rex-main-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1080px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.news-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1080px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

 
.community-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1080px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.main-page-content{
  display: inline-block;
  background:  none;
  max-width: 1000px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  text-align: center;
}

/* background for framing scrollable area */
.mainfeed{
  list-style-type: none;
  display: inline-block;
  max-width: 1000px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}

.newsfeed{
  display: inline-block;
  list-style-type: none;
  max-width: 1000px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}

.communityfeed{
  display: inline-block;
  margin-bottom: 0;
  max-width: 1000px;
  width: 100%;
  list-style-type: none;
  background-color: #282828;
  padding: 20px;
  text-align: center;
}

.rexfeed{
  background: #282828;
  margin-top: 45px;
  margin-bottom: 0;
  list-style-type: none;
  background-color: 282828;
  padding: 20px;
  text-align: center;
}

/* menus */
.main-menu{
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  background: black;
  border-radius: 4px;
  border: 4px gainsboro solid;
}

.main-menu-nav{
  display: inline-block;
  width:100%;
  max-width: 1080px;
  height: 5%;
  border-bottom: 2px gainsboro solid;
  border-right: 2px gainsboro solid;
  border-left: 2px gainsboro solid;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main-menu-nav-functions{
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.main-search{
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  background:#484848;
  margin-left:10px;
  margin-right: 5px;
}

.main-menu-nav-buttons{
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
  margin-left: 5px;
  margin:0;
}

.main-menu-choice{
  display: inline-block;
  width: 20%;
  padding: 5px;
  font-weight: bold;
}

.main-menu-choice-active{
  display: inline-block;
  background: #484848;
  width: 20%;
  font-weight: bold;
  padding: 5px;
}

.main-menu-choice:hover{
  background:gainsboro;
  color: black;
}
/* rex main menu  */
.rex-menu-nav{
  display: inline-block;
  width:100%;
  max-width: 1080px;
  height: 5%;
  border-bottom: 2px gainsboro solid;
  border-right: 2px gainsboro solid;
  border-left: 2px gainsboro solid;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rex-menu-nav-functions{
  display: inline-block;
  width:50%;
  height: 100%;
  vertical-align: middle;
}

.rex-search{
  display: inline-block;
  float: left;
  border-radius: 4px;
  font-size: 16px;
  background:#484848;
  margin-left:10px;
  margin-right: 5px;
}

.rex-menu-nav-buttons{
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  width: 100%;
  margin-left: 5px;
  margin:0;
}

.rex-menu-choice{
  display: inline-block;
  width: 20%;
  padding: 5px;
  font-weight: bold;
}

.rex-menu-choice-active{
  display: inline-block;
  background: #484848;
  font-weight: bold;
  padding: 5px;
  width: 20%;
}

.rex-menu-choice:hover{
  background:gainsboro;
  color: black;
}
/* filter  */
.filter{
  display: inline-block;
  width: 400px;
  height: 400px;
}

.filter-img{
  display: inline-block;
  height: 100%;
  filter: invert(100%);
  background: none;
  padding:2.5px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 4px;
}

.filter-icon{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 100%;
  background: none;
}

.filter-img:hover{
  filter: invert(0%);
  background: gainsboro;
  cursor: pointer;
}

.main-menu-text{
  background: none;
}
/* general CSS  */
.click-area{
  background:none;
}
.user-buttons{
  display: inline-block;
  width:50%;
}

.scroll-button{
  display: inline-block;
  padding: 15px;
  background: red;
}

/* articles for news */
.article{
  max-width: 980px;
  min-width: 300px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 235px;
  background-color: #484848;
  border-radius: 4px;
  border: gainsboro 4px solid;
}

.article-img-container{
  vertical-align: center;
  width: 30%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background: black;
}

.article-img{
  width: 85%;
  height: 85%;
  max-height: 140px;
  object-fit: contain;
  display: inline-block;
  border-radius: 4px;
  border: 2px white solid;
}

.article-description{
  width: 70%;
  height: 100%;
  min-height: 135px;
  min-width: 280px;
  display: inline-block;
  vertical-align: top;
  background: black;
  border-left: 2px white solid;
}

.article-title:hover{
  background-image: linear-gradient(black, #282828);
}

.article-title{
  text-align: left;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 5px;
  font-size: 22px;
  padding: 12.5px;
  width: 100%;
  height: 45%;
  min-width: 300px;
  background: none;
  display: inline-block;
  border-bottom: #484848 solid;
}

.article-details{
  text-align: left;
  font-size: 18px;
  width: 100%;
  height:15%;
  display: inline-block;
}

.article-time{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding:5px;
  width: 35%;
  height: 100%;
  background: #484848;
  margin: 0;
}

.article-date{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 35%;
  height: 100%;
  background: #484848;
  margin: 0;
  border-left: 4px #282828 solid;
  border-right: 4px #282828 solid;

}

.article-source{
  vertical-align: bottom;
  font-size: 22px;
  background:black;
  width: 100%;
  padding:10px;
  height: 25%;
  margin: 0;
  display: inline-block;
  border-radius: 4px;
}

.article-category{
  font-size:18px;
  vertical-align: bottom;
  margin:0px;
  width: 100%;
  height: 10%;
  background: #484848;
}

.article-content{
  display:inline-block;
  width: 100%;
  height: 30%;
  border-top: 2px white solid;
  font-size: 16px;
  background: black;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  text-align: left;
}

.article-summary{
  display: inline-block;
  text-decoration: none;
  background: none;
  margin: 0;
}

.article-link{
  background: none;
  margin: 5px;
  height: 10%;
}

.article-menu{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  width: 30%;
  height: 100%;
  font-size: 22px;
  background: #484848;
  margin: 0;
  border-bottom-right-radius: 4px;
}


.article-menu-choice-share{
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: #585858;
  border-right: 1px solid white;
  border-radius: 4px;
  padding: 0;
}

.article-menu-choice-share:hover{
  background: gainsboro
}

.article-menu-choice-remove{
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: darkred;
  border-left: 1px solid white;
  border-radius: 4px;
  padding: 0;
}

.article-menu-choice-remove:hover{
  background: red;
}

.article-menu-image{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 4px;
}

/* for posts in community section */
.post{
  max-width: 980px;
  min-width: 300px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  border: gainsboro 4px solid;
}

.img-container{
  max-width: 400px;
  width: 100%;
  min-width: 280px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin: 2.5px;
  background: none;
  border: black 2px solid;
}

.post-img{
  width: 100%;
  object-fit: contain;
  display: inline-block;
  border-radius: 4px;
}

.post-description{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: black;
}

.post-description:hover{
  background-image: linear-gradient(black, #484848);
}
.post-details{
  width: 100%;
  height: 15%;
  background:#484848;
}

.post-title{
  text-align: center;
  margin: 0;
  font-size: 20px;
  padding: 10px;
  height: 100%;
  background: none;
  border-bottom: 2px white solid;
}

.post-source{
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 35%;
  height: 100%;
  font-size: 20px;
  background:none;
  margin: 0;
  border-right: 1px black solid;
  border-bottom-left-radius: 4px;
}

.post-category{
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 35%;
  height: 100%;
  font-size: 20px;
  background:none;
  margin: 0;
  border-left: 1px solid #484848;
  border-right: 1px solid #484848;
}

.post-menu{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
  height: 100%;
  background: #484848;
  margin: 0;
  border-left: 1px solid black;
  border-bottom-right-radius: 4px;
}

.post-menu-choice-share{
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: #585858;
  border-right: 1px solid white;
  border-radius: 4px;
}

.post-menu-choice-share:hover{
  background: gainsboro
}


.post-menu-choice-remove{
  display: inline-block;
  width: 25%;
  height: 100%;
  background: darkred;
  border-left: 1px solid white;
  border-radius: 4px;
}

.post-menu-choice-remove:hover{
  background: red;
}

.post-menu-image{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 4px;
}

.post-article-container{
  width: 100%;
  max-width: 220px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  border: black 5px solid;
  background: none;
}

.post-article-img{
  max-width: 100%;
  min-height: 100%;
  display: inline-block;
  border-radius: 4px;
  background: none;
}

.post-mp4{
  max-width: 100%;
  min-height: 300px;
}

/* Rex general media */
.media{
  max-width: 300px;
  min-width: 250px;
  display: inline-block;
  margin:10px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  border: gainsboro 2px solid;
}

.media-img-container{
  max-width: 210px;
  width: 100%;
  height: 310px;
  display: inline-block;
  vertical-align: middle;
  margin :5px;
  border-radius: 4px;
  border: white 5px solid;
}

.media-img{
  max-width: 300px;
  max-height: 300px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
}

.media-description{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background: black;
}

.media:hover{
  background-image: linear-gradient(black, #484848);
}

.media-title{
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  height: 80px;
  background: #282828;
}

.media-source{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: #484848;
  margin: 0;
}

.media-rating{
  display: inline-block;
  text-align: left;
  background: black;
  font-style: none;
  
}

.media-summary{
  display: inline-block;
  text-align: left;
  padding: 10px;
  background: black;
  font-style: none;
}

.loading-img{
  margin-top:75px;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
  background: none;
}

/* REX */

.rex-main-menu{
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  background: black;
  border-radius: 4px;
  border: 4px gainsboro solid;
}
.res-main-content{
  width: 100%;
  height: 50%;
}

.rex-main-text{
  vertical-align: top;
  display: inline-block;
  width: 65%;
  background:none;
  font-size: 20px;
  
}

.csl{
  background: none;
}

.main-media{
  max-width: 200px;
  min-width: 150px;
  display: inline-block;
  margin:10px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  border: gainsboro 2px solid;
}

.main-media-img-container{
  max-width: 200px;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin :5px;
  border-radius: 4px;
  border: white 5px solid;
}

.main-media-img{
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
}

.main-media-description{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background: black;
}

.main-media:hover{
  background-image: linear-gradient(black, #484848);
}

.main-media-title{
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  background: #282828;
}

.main-media-source{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: #484848;
  margin: 0;
}

.main-media-rating{
  display: inline-block;
  text-align: left;
  background: black;
  font-style: none;
  
}

.main-media-summary{
  display: inline-block;
  text-align: left;
  padding: 10px;
  background: black;
  font-style: none;
}

/* schedules */
.main-tv-schedule{
  margin:10px;
  display: inline-block;
  vertical-align: top;
  height:50%;
  width: 45%;
  border-radius: 4px;
  border: 2px white solid;
}

.tv-schedule{
  margin:10px;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  border-radius: 4px;
  border: 2px white solid;
}

.movie-schedule-container{
  display: inline-block;
  width:95%;
  background: #484848;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 4px;
  border: 2px gainsboro solid;
}

.tv-schedule-description{
  display: inline-block;
  width: 45%;
  font-size: 24px;
  margin-top: 10px;
  padding: 10px;
  height: 100%;
  border-radius: 4px;
  border: 2px gainsboro solid;
}

.schedule-description{
  display: inline-block;
  text-align: left;
  font-size: 24px;
}

.tv-schedule-container{
  display: inline-block;
  width:95%;
  background: #181818;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 4px;
  border: 2px gainsboro solid;
}

.network-img{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 40px;
  background: none;
  object-fit: contain;
}

.network-img-container{
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 100%;
  padding: 5px;
  background: #585858;
  border-left:gainsboro 2px solid;
}

.full-schedule-network-img{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 40px;
  background: none;
  object-fit: contain;
}

.full-schedule-network-img-container{
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 100%;
  padding: 5px;
  background: gainsboro;
  border: 1px black solid;
}

.full-schedule-genres{
  vertical-align: middle;
  display:inline-block;
  width: 15%;
  height: 100%;
}
.full-schedule-genre{
  vertical-align: middle;
  display:inline-block;
  width:100%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px #484848 solid;
}

.schedule-section-title{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 100%;
  padding:10px;
  border-bottom:gainsboro 2px solid;
}

.schedule-card{
  display: inline-block;
  vertical-align: top;
  width:100%;
  max-height: 80px;
  list-style-type: none;
  color: white;
  border-top: gainsboro 2px solid;
  border-bottom: gainsboro 2px solid;
}

.schedule-card:hover{
  background: white;
  font: black;
}

.schedule-title{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding:2.5px;
  margin: 0;
  background: none;
  width: 65%;
}

.full-schedule-season{
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding: 5px;
  margin: 0;
}

.full-schedule-card{
  display: inline-block;
  width:100%;
  list-style-type: none;
  color: white;
  border-top: gainsboro 2px solid;
  border-bottom: gainsboro 2px solid;
}

.full-schedule-card:hover{
  background: white;
  font: black;
}

.full-schedule-title{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding:2.5px;
  margin: 0;
  background: none;
  width: 50%;
}

.schedule-details{
  display: inline-block;
  font-size: 16px;
  background: none;
  width:35%;
  height: 100%;
  background: black;
  border-left:white 2px solid;
}

.full-schedule-details{
  display: inline-block;
  font-size: 16px;
  background: none;
  width:25%;
  height: 100%;
  background: black;
  border-left:white 2px solid;
}

.full-schedule-episode{
  display: inline-block;
  font-size: 16px;
  background: none;
  width:50%;
}

.full-schedule-buttons{
  display:inline-block;
  width: 10%;
  height: 100%;
}

.main-upcoming-movies{
  margin:10px;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height:50%;
  border-radius: 4px;
  border: 2px white solid;
}

.upcoming-movies{
  margin:10px;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  border-radius: 4px;
  border: 2px white solid;
}
.upcoming-title{
  display: inline-block;
  background: none;
  font-size: 16px;
  margin: 10px;
}

.main-list{
  margin:0;
  list-style-type: none;
  padding: 0px;
}

.main-title{
  margin: 0;
  padding:10px;
  background: #383838;
}

.upcoming-card{
  display: inline-block;
  width:100%;
  list-style-type: none;
  color: white;
  border-top: gainsboro 2px solid;
  border-bottom: gainsboro 2px solid;
}

.upcoming-card:hover{
  background: white;
  color: black;
}
/* catalog design */

.catalog-media{
  max-width: 960px;
  min-width: 250px;
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  border: gainsboro 2px solid;
}

.catalog-media-img-container{
  max-width: 210px;
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  margin :5px;
  border-radius: 4px;
  border: white 5px solid;
}

.catalog-media-img{
  max-width: 100px;
  max-height: 125px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
}

.catalog-media-description{
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  background: black;
}

.catalog-media-title{
  display: inline-block;
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  height: 60%;
  background: #282828;
}

.catalog-media-source{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: #484848;
  margin: 0;
}

.catalog-media-rating{
  display: inline-block;
  text-align: left;
  background: black;
  font-style: none;
  
}

.catalog-media-summary{
  display: inline-block;
  text-align: left;
  padding: 10px;
  background: black;
  font-style: none;
}

.catalog-media-controls{
  vertical-align: bottom;
  display: inline-block;
  width:10%;
  height: 100%;
}


.details-modal {
  transition: width 2s;
  display: block;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}


.details-modal-content {
  margin: 15% auto; 
  padding: 20px;
  border: 2px solid gainsboro;
  width: 80%; 
}

/* The Close Button */
.details-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.details-close:hover,
.details-close:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}
