.main-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.rex-main-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.news-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.community-page{
  background-color: #181818;
  border: 2px white;
  border-radius: 4px;
  display: inline-block;
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  margin-left:  0 auto;
  margin-right: 0 auto;
}

.newsfeed{
  margin-top: 45px;
  list-style-type: none;
  background-color: #282828;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}

.communityfeed{
  margin-top: 45px;
  margin-bottom: 0;
  list-style-type: none;
  background-color: 282828;
  padding: 20px;
  text-align: center;
}

.rexfeed{
  background: #282828;
  margin-top: 45px;
  margin-bottom: 0;
  list-style-type: none;
  background-color: 282828;
  padding: 20px;
  text-align: center;
}

.click-area{
  background:none;
}

.article{
  max-width: 980px;
  min-width: 300px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  background-color: #484848;
  border-radius: 4px;
  border: gainsboro 2px solid;
}

.article-img-container{
  vertical-align: center;
  max-width: 240px;
  width: 35%;
  min-width: 220px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  border: black 5px solid;
  margin-left:2.5px;
  margin-bottom: 2.5px;
  margin-top: 5px;
}

.article-img{
  max-width: 240px;
  min-width: 220px;
  width: 40%;
  height: 100%;
  max-height: 135px;
  display: inline-block;
  border-radius: 4px;
}

.article-description{
  max-width: 700px;
  width: 80%;
  height: 100%;
  min-height: 135px;
  min-width: 280px;
  display: inline-block;
  vertical-align: top;
  background: black;
  margin: 5px;
  margin-bottom: 2.5px;
  border-radius: 4px;
}

.article-description:hover{
  background-image: linear-gradient(black, #282828);
}

.article-title{
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 26px;
  padding: 10px;
  width: 100%;
  height:100%;
  background: none;
  display: inline-block;
  border-bottom: #484848 solid;
}

.article-time{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 50%;
  height: 100%;
  font-size: 22px;
  background: none;
  margin: 0;
  margin-top:10px;
  margin-bottom:10px;
  border-right: 1px #484848 solid;
}

.article-date{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 50%;
  height: 100%;
  font-size: 22px;
  background: none;
  margin: 0;
  margin-top:10px;
  margin-bottom:10px;
  border-left: 1px #484848 solid;
}

.article-source{
  font-size: 22px;
  background:black;
  width: 95%;
  padding:10px;
  margin:5px;
  display: inline-block;
  border-radius: 4px;
}
.article-content{
  margin:5px;
  padding:10px;
  font-size: 20px;
  background: black;
  border-radius: 4px;
}

.article-summary{
  display: inline-block;
  text-align: left;
  text-decoration: none;
  background: none;
}

.article-link{
  background: none;
  margin: 5px;
}


.post{
  max-width: 980px;
  min-width: 300px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  border: gainsboro 2px solid;
}

.img-container{
  max-width: 700px;
  width: 100%;
  min-width: 280px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  border: black 5px solid;
}

.post-img{
  max-width: 700px;
  max-height: 700px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
}

.post-description{
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: black;
}

.post-description:hover{
  background-image: linear-gradient(black, #484848);
}

.post-title{
  text-align: center;
  margin: 0;
  font-size: 26px;
  padding: 10px;
  height: 100%;
  background: black;
}

.post-source{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 22px;
  background: #484848;
  margin: 0;
}

.media{
  max-width: 300px;
  min-width: 250px;
  display: inline-block;
  margin:10px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4px;
  border: gainsboro 2px solid;
}

.media-img-container{
  max-width: 210px;
  width: 100%;
  height: 310px;
  display: inline-block;
  vertical-align: middle;
  margin :5px;
  border-radius: 4px;
  border: white 5px solid;
}

.media-img{
  max-width: 300px;
  max-height: 300px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
}

.media-description{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  background: black;
}

.media:hover{
  background-image: linear-gradient(black, #484848);
}

.media-title{
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  height: 80px;
  background: #282828;
}

.media-source{
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: #484848;
  margin: 0;
}

.media-genre{
  display: inline-block;
  text-align: left;
  background: black;
  font-style: none;
  
}

.media-summary{
  display: inline-block;
  text-align: left;
  padding: 10px;
  background: black;
  font-style: none;
}

.loading-img{
  margin-top:75px;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  display: inline-block;
  border-radius: 4px;
}
