.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: #181818;
  font-family: 'Noto Sans SC', sans-serif;
  box-sizing: border-box;
  color: white;
}

.logo{
  display: inline-block;
  background: none;
  width: 55px;
  height: 55px;
  padding: 2.5px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

.headerbar{
  background-color: #282828;
  width: 100%;
  max-width: 1980px;
  position: fixed;
  border-bottom: black 2px solid;
}

.header-title{
  background-color: #282828;
  margin: 0px;
  padding: 10px;
  width: 200px;
  float:left;
  display: inline-block;
  vertical-align: middle;
}

.header-container{
  background-color: #282828;
  max-width: 1000px;
  width: 100%;
  min-width: 300px;
  display:inline-block;
}

.header-menu{
  vertical-align: middle;
  list-style-type: none;
  background-color: #282828;
  display: inline-block;
  margin: auto;
  float: right;
  min-width: 300px;
  max-width: 600px;
  padding:0px;
  box-sizing: border-box;
}

.header-menu-choice {
  box-sizing: border-box;
  max-width: 150px;
  padding: 10px;
  font-size: 24px;
  margin: 5px;
  background-color: #282828;
  float: left;
}

.header-menu-choice:hover{
  font-style: underline;
  font-weight: bold;
}